@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    font-family: 'Karla', serif;
}

html{
    font-size: 16px;
}

body{
    background-color: #dad7cd;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    padding: 0;
}

li{
    margin: 5px;
    font-weight: bold;
}

.nameAvatar{
    display: flex;
    align-items: center;
}

.nameAvatar > *{
    margin: 5px;
}

.round {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 50%; 
  
    /* Firefox 1-3.6 */
    -moz-border-radius: 50%; 
    
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 50%; 
}

.nameAvatar img{
    width: 54px;
    height: 54px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    background-color: black;
    width: 25px;
    height: 4px;
    margin: 5px;
}


@media screen and (max-width: 768px) {

    nav{
        position: absolute;
        right: 0px;
        top: 75px;
        height: 89vh;
        width: 100%;
        display: none;
        background-color: #dad7cd;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li{
        margin: 25px;
        padding: 10px;
    }

    .burger{
        display: block;
    }

    .nav-active{
        display: block;
    }
}

