
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_picture img{
    width: 10em;
    height: 10em;
}

.main_text{
    margin: 1em 2em 0 2em;
}

.projects{
    margin: 0 2em 1em 2em;
}

.card{
    border: 2px solid black;
    padding: 0.5em;
    margin: 10px;
}


