{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css')}}">
{% endblock %}

{% block body %} 
<div class="main">
    <h2>Contact</h2>
    <ul style="list-style: none;">
        <!-- mail -->
        <li><div style="display:flex; align-items: center;">
            <img src="{{ url_for('static', filename='Images/email.png')}}" alt="" class="small_image">
            <p>mateoglzc@hotmail.com</p>
        </div></li> 
        <!-- github -->
        <li><div style="display:flex; align-items: center;">
            <img src="{{ url_for('static', filename='Images/github.png')}}" alt="" class="small_image">
            <p>mateoglzc</p>
        </div></li>
        <!-- facebook -->
        <li><div style="display:flex; align-items: center;">
            <img src="{{ url_for('static', filename='Images/facebook.png')}}" alt="" class="small_image">
            <p>Matt Gonzalez</p>
        </div></li>
        <!-- instragram -->
        <li><div style="display:flex; align-items: center;">
            <img src="{{ url_for('static', filename='Images/logotipo-de-instagram.png')}}" alt="" class="small_image"> 
            <p>@mateogcrv</p>
        </div></li>
    </ul>
</div>

{% endblock %}