
{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block body %} 
<!-- Main Card -->
<div class="main_card">
    <div class="avatar">
        <img src="{{url_for('static', filename='Images/default.jpg')}}" class="avatar_image" alt="">
    </div>
    <div class="name">
        <h1>Mateo Gonzalez Cosio</h1>
        <p>I'm computer science student at ITESM CSF, with a passion for coding, technology and problem solving.</p>
    </div>
    <button class="button"><a href="{{ url_for('main.about') }}">About Me</a></button>
</div>

<!-- Projects -->
<div class="projects"> 
    <h1>Projects</h1>
    <div class="cards">
        <!-- Card 1 -->
        <div class="c1">
            <img src="{{ url_for('static', filename='Images/Memory.PNG') }}" alt="">
            <div class="bttm_card1">
                <h2>Memory Game</h2>
                <ul style="list-style: none;">
                    <li>Unsatisfied with a school project I transformed a terminal base memory game to have a user interface.</li>
                    <li>Learn how to use non-standard libraries in Python. In this case Pygame.</li>
                </ul>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="c2">
            <img src="{{ url_for('static', filename='Images/Website.PNG') }}" alt="">
            <div class="bttm_card2">
                <h2>Blog Website</h2>
                <ul  style="list-style: none;">
                    <li>A Blog Website made and designed by me using Python and the Flask Module.</li>
                    <li>Learned and made a CRUD system, a login and an email password reset system and a custom error page system.</li>
                    <li>Learned the basics of the workflow of a full stack web developer that arose a passion and love for design in myself.</li>
                    <li>Followed tutorial made by Corey Schafer</li>
                    <li>Project still active.</li>
                </ul>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="c3">
            <img src="{{ url_for('static', filename='Images/Sequence.PNG') }}" alt="">
            <div class="bttm_card3">
                <h2>Sequence Game</h2>
                <ul style="list-style: none;">
                    <li>A simple recreation of my favorite board game: Sequence. This was made using Python and the Pygame module.</li>
                    <li>Learned the basics of debugging and game mechanics.</li>
                    <li>Introduction to git and the github platform.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h1 class="title_sep">Key Experiences</h1>

<!-- Key Experiences -->
<div class="skills">
    <div class="column">
        <ul>
            <li><div style="display: flex;">
                <img src="{{ url_for('static', filename='Images/codigo.png') }}" alt="">
                <div>
                    <p class="subtitle">Languages</p>
                    <ul>
                        <li>Python</li>
                        <li>C++</li>
                        <li>HTML/CSS</li>
                    </ul>
                </div>
            </div></li>
            <li><div style="display: flex;">
                <img src="{{ url_for('static', filename='Images/hackmty.png') }}" alt="">
                <div>
                    <p class="subtitle">Hackathon MTY</p>
                    <p class="paragraph">This event allowed me to take part in my first team coding project which taught me how to correctly assign tasks and take rolls to accomplish a goal.
                    </p>
                </div>
            </div></li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li><div style="display: flex;">
                <img src="{{url_for('static', filename='Images/swimming.jpeg')}}"  alt="">
                <div>
                    <p class="subtitle">Competitive Swimmer</p>
                    <p class="paragraph">Disciplined and self-motivated competitive swimmer. Managed a 20+ hour practice schedule a week on top of academics</p>
                </div>
            </div></li>
            <li><div style="display: flex;">
                <img src="{{url_for('static', filename='Images/intexp.jpg')}}" alt="">
                <div>
                    <p class="subtitle">International Experience</p>
                    <p class="paragraph">Had the opportunity to live in Canada for 1 year, as well as in France for six months. Teaching me how to work and adapt in different environments.</p>
                </div>
            </div></li>
        </ul>
    </div>
</div>

<div class="hobbies">
    <div class="column">
        <img src="{{url_for('static', filename='Images/omh.png')}}" alt="" style="background-color: #2A2A2A;">
        <div>
            <p class="subtitle">Covid Connect Game</p>
            <p class="paragraph"> Prototyped a game made in Unity that aims to connect people during quarantine, encouraging people to stay healthy and active. Learned and used C# to develop the game.
                Successfully designed and made key components of the game such as UI, movement, collision and a health/money system.
                Project still active.</p>
        </div>
    </div>
    <div class="column">
        <img src="{{url_for('static', filename='Images/prepanet.png')}}" alt="">
        <div>
            <p class="subtitle">Prepa Net Tutor</p>
            <p class="paragraph">I am currently enrolled in a volunteer program whose goal is to give underprivileged minorities a chance to have an education. I am giving a class called Technology Information I that aims to familiarize students with current technologies and teach them how to use them.</p>
        </div>
    </div>
</div>
{% endblock %}
 