.main{
    background-color: #5EA529;
    margin: 2rem 6rem; 
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_img{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.text{
    flex: 2;
    margin: 1rem;
}